<h4>Movies</h4>
<div class="row">
    @if (SelectedModel is null)
    {
        @foreach (var movie in Movies)
        {
            <MovieCard MovieModel="movie" @bind-SelectedMovieModel="SelectedModel"></MovieCard>
        }
    }
    else
    {
        <MovieDetail @bind-MovieModel="SelectedModel"></MovieDetail>
    }
</div>
@code {
    [Parameter]
    public IEnumerable<MovieModel> Movies { get; set; }
    private MovieModel SelectedModel;
}
